tqdm>=4.64.0
parmap>=1.5.3
numpy>=1.22
pandas>=1.4.3
anndata>=0.8.0
matplotlib>=3.5.2
seaborn>=0.11.2
scipy>=1.6
pingouin>=0.5.2
scikit-learn>=1.0.2
scikit-image>=1.18
networkx>=2.4
imc>=0.1.4
seaborn-extensions>=0.20.0